body {
    padding: 0;
    margin: 0;
    background-color: #b5a5da;
    height: 200vh;
    font-family: Arial, sans-serif;
}
/* Nav section */
.navbar_0 {
    background-color: #C6A5FF;
    width: 100%;
    height: 7vh;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.navbar_0 p {
    margin: 0;
    color: #111;
}

.close-btn {
    position: absolute;
    right: 10px;
    border: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
}
#navbar {
    width: 100%;
    position: fixed;
    top: 7vh;
    left: 0;

    z-index: 99999;

    box-sizing: border-box;
    padding: 10px;
    height: 13vh;


    background-color: transparent;

    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

/* Left side: logo + links */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 60px;
}
.logo_div {
  display: flex;
  gap: 5px;
  margin-right: 155px;
}
.navbar-logo_1 {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    opacity: 1;
    width: 48px;

    transition:
        opacity 0.3s ease,
        width 0.3s ease;
}
.navbar-logo_1 {
    display: flex;
    align-items: center;
    cursor: pointer;

    opacity: 1;
    width: 80px;

    transition:
        opacity 0.3s ease,
        width 0.3s ease;
}
.logo {
    filter: invert(100%);
}
#navbar.scrolled {
    background-color: #30116b;
}

#navbar.scrolled .navbar-logo_1 {
    opacity: 0;
    width: 0;
    max-width: 0;
    margin: 0;
    overflow: hidden;

    transition:
        opacity 0.3s ease,
        width 0.3s ease;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 14px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.2s ease;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link--plain {
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-caret {
  width: 2vw;
  transition: transform 0.3s ease;
  filter:invert(100%)
}

.nav-item:hover .nav-caret {
  transform: rotate(180deg);
}

/* Dropdown panels */
.dropdown-panel {
  position: absolute;
  top: 60px;
  left: 50%;
  width: 50vw;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  padding: 40px;
  padding-top: 50px;
  box-sizing: border-box;
  gap: 40px;
  transform: translateX(-50%);
  z-index: 1000;
  opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition:
        opacity 0.2s ease,
        visibility 0.2s ease;
}
.Nav_h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Nav_h2:hover {
  color:blue
}
.Nav_p {
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Nav_h3 {
  color: #666666;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0;
}
.dropdown_a {
  display: block;
  padding-top: 30px;
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.08rem;
}
.dropdown_a:hover {
  color: blue;
}
.dropdown-Left {
  padding-right: 20px;
}

.dropdown-middle {
    background-color: #a5a5a5;
    height: 290px;
    width: 1px;
    
}
.dropdown-right {
  margin-left: 40px;
}

.dropdown-panel--medium {
  width: 800px;
}

.dropdown-panel--large {
  width: 900px;
}

.nav-item:hover .dropdown-panel {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.dropdown-content {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.dropdown-content::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);

  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}
.dropdown_img {
  width: 23vw;
  border-radius: 10px;
}
.dropdown_img:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.dropdown-Left:has(.dropdown_img:hover) .Nav_h2 {
  color: blue;
}

/* Right side: auth buttons */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn {
  border: none;
  border-radius: 24px;
  font-size: 15px;
  font-weight: 750;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  box-sizing: border-box;
  transition: all 0.1s ease;
}

.btn-login {
  background-color: #ffffff;
  color: #1a1a1a;
  padding: 10px 12px;
  padding-right: 5px;
}
/* Arrow */
.btn-login img {
  width: 25px;
  transition: transform 0.5s ease;
  filter: invert(1);
}

/* Hover */
.btn-login:hover {
  background-color: #5b16e8;
  color: white;

  flex-direction: row-reverse;
  padding-right: 12px;
  padding-left: 5px; 
}
.btn-login:hover img {
  filter: none;
}

.btn-signup {
  background-color: #c2f542;
  color: #1a1a1a;
  padding: 13px 11px;
  border-radius: 5px;
}
.btn-signup:hover {
  background-color: #C6A5FF;
}

/* Hero Section */
.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  z-index: 2;

  padding-top: 120px;
  padding-bottom: 50px;

  /* display: flex; */
  align-items: center;
  justify-content: center;

   background:
    linear-gradient(
      to bottom,
      #6840c5 0%,
      #351577 35%,
      #351577 60%,
      #6840c5 80%,
      #ffffff 100%
    );
}

/* BACKGROUND IMAGES  */

.hero-images {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.hero-images img {
  position: absolute;

  width: 180px;

  opacity: 0.35;

  filter: blur(0.1px);

  border-radius: 12px;
}

/* Individual image positions */

.hero-images img:nth-child(1) {
  top: 10%;
  left: 5%;
  transform: rotate(-5deg);
}

.hero-images img:nth-child(2) {
  top: 5%;
  left: 40%;
  transform: rotate(2deg);
  width: 20vw;
}

.hero-images img:nth-child(3) {
  top: 10%;
  right: 5%;
  transform: rotate(-3deg);
}

.hero-images img:nth-child(4) {
  bottom: 60%;
  left: 10%;
  transform: rotate(5deg);
}

.hero-images img:nth-child(5) {
  bottom: 55%;
  right: 10%;
  transform: rotate(-5deg);
}
.hero-images img:nth-child(6) {
  top: 25%;
  left: 40%;
  transform: rotate(-3deg);
}

/* ================= HERO TEXT ================= */

.hero-content {
  position: relative;

  z-index: 5;

  text-align: center;

  color: white;
}

.hero-content h1 {
  font-size: clamp(180px, 11vw, 180px);
  line-height: 0.85;
  font-weight: 700;
  letter-spacing: -7px;
  margin-top: 250px;
  margin-bottom: 60px;
}

.prompt-wrapper {
  position: relative;
  z-index: 20;

  width: 55%;
  max-width: 1050px;

  margin: 0 auto 20px;

  padding: 10px;

  border-radius: 30px;

  background: rgba(255, 255, 255, 0.18);

  transition: all 0.3s ease;
}

.prompt-box {
  position: relative;
  z-index: 21;

  height: 30vh;

  background: white;

  border: 2px solid transparent;
  border-radius: 24px;

  padding: 30px;
  padding-top: 10px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: all 0.3s ease;
}

.prompt-wrapper:focus-within {
  background: rgba(255, 255, 255, 0.25);
  padding: 12px;
}

.prompt-box:focus-within {
  border: 2px solid #6549A2;

  box-shadow:
    0 0 0 3px #C6A5FF;
}

.prompt-input {
  width: 100%;
  height: 50px;
  
  padding: 0;

  border: none;
  outline: none;

  background: transparent;

  font-family: inherit;
  font-size: 16px;
  color: #222;

  cursor: text;
}

.prompt-input::placeholder {
  color: #777;
}
.prompt-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plus-btn {
  width: 30px;
  height: 30px;

  border: none;
  border-radius: 50%;

  background: #eee5ff;

  color: #211044;

  font-size: 25px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.prompt-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.prompts {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 15px;
  font-weight: 700;

  color: #130b27;
}

.shuffle {
  font-size: 20px;
}
.generate-btn {
  border: none;

  background: #b99bf5;
  color: white;

  padding: 10px 20px;

  border-radius: 6px;

  font-size: 15px;

  display: flex;
  align-items: center;
  gap: 15px;

  cursor: pointer;
}

.generate-btn span {
  font-size: 15px;
}
.hero-description {
  text-align: center;

  color: white;

  font-size: 18px;

  line-height: 1.5;

  margin-top: 20px;
}

/* =========================
   TRUSTED BY / LOGOS
========================= */

.trusted-section {
  position: relative;
  z-index: 5;

  width: 100%;

  margin-top: 120px;
  padding-bottom: 180px;
}

.trusted-logos {
  width: 90%;
  max-width: 1550px;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 10px;
}

.company-logo {
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;

  font-weight: 600;

  opacity: 0.95;
}


/* Synthesia */

.synthesia {
  font-size: 22px;
  font-weight: 700;
  transform: translateY(15px);
}

.synthesia-icon {
  margin-right: 8px;
  transform: skew(-15deg);
}

/* Pentagram */

.pentagram {
  font-family: Georgia, serif;
  font-size: 23px;
  transform: translateY(-5px);
}

/* Kolo */

.kolo {
  font-size: 25px;
  font-weight: 800;
  transform: translateY(-18px);
}

/* Perplexity */

.perplexity {
  font-size: 25px;
  font-weight: 400;
  transform: translateY(-25px);
}

.perplexity span {
  font-size: 30px;
  margin-right: 8px;
  transform: translateY(-2px);
}

/* Thrive */

.thrive {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 400;
  transform: translateY(-15px);
}

.thrive span {
  font-size: 35px;
  margin-right: 8px;
}

/* Cleveland Browns */

.browns {
  font-size: 18px;
  font-weight: 900;
  line-height: 0.8;
  text-align: center;
  transform: translateY(-15px);
}

/* Linear */

.linear {
  font-size: 22px;
  transform: translateY(12px);
}

.linear span {
  font-size: 30px;
  margin-right: 8px;
}



/* 
   WHY PITCH
*/

.why-pitch {
  background: white;
  color: #10051f;

  position: relative;
  z-index: 1;

  
  padding: 120px 2% 0;
  padding-right: 0;

  box-sizing: border-box;
}


/* INTRO */

.why-intro {
  max-width: 850px;
  padding-bottom: 40px;
}

.why-label {
  margin: 0 0 15px;

  color: #5b16e8;

  font-family: monospace;

  font-size: 20px;
}

.why-intro h2 {
  margin: 0;

  font-size: clamp(40px, 3vw, 95px);

  line-height: 1.5;

  font-weight: 700;
}

.why-description {
  max-width: 760px;

  margin-top: 10px;

  font-size: 18px;

  line-height: 1.7;

  color: #444;
}

/* =========================
   SCROLLING WHY SECTION
========================= */

.why-scroll {
  display: grid;

  grid-template-columns: 0.9fr 1.1fr;

  gap: 130px;

  align-items: start;
}


/* LEFT SIDE */

/* .why-left {

} */

.why-item {
  min-height: 45vh;


  padding-bottom: 400px;
  display: flex;

  flex-direction: column;

  justify-content: center;

}
.ass {
  padding-bottom: 600px;
}

/* .why-item.active {
  opacity: 1;
} */
.why-icon {
  width: 2vw;
  padding-right: 15px;
}


.why-item h3 {
  margin: 0;

  font-size: 32px;

  line-height: 1;

  letter-spacing: -1px;

  color: #5b16e8;
}

.why-item p {
  max-width: 450px;

  margin-top: 25px;

  font-size: 17px;

  line-height: 1.5;

  color: #5a5959;
}

/* RIGHT SIDE */

.why-right {
    position: sticky;
    top: 200px;

    height: 700px;

    align-self: start;
}


.why-visual {
    position: relative;

    width: 100%;
    height: 650px;

    overflow: hidden;

    border-radius: 30px;
} 


/* Every scene occupies the exact same area */

.why-scene {
    position: absolute;
    inset: 0;

    opacity: 0;

    transition:
        opacity 1s ease,
        visibility 1s ease;
    background: #C6A5FF;
    width: 95%;

    height: 70%;
    border-radius: 30px;
    visibility: visible;
  
}


.why-scene.active {
    opacity: 1;

    visibility: visible;
}
.scene-main {
    position: relative;

    z-index: 1;
    width: 80%;
    height: 70%;
    
    left: 10%;

    top: 13%;

    border-radius: 20px;

}
.scene-card {
    position: absolute;

    z-index: 3;

    border-radius: 15px;
}
.scene-style {
    width: 25%;

    left: 40%;

    bottom: 10%;
    
     position: absolute;
     z-index: 2;
    
}

.scene-plus {
    width: 28%;
    right: 5%;

    bottom: 5%;

    

    position: absolute;
    z-index: 2;

}

.scene-stats {
    width: 20%;

    left: 10%;

    bottom: 5px;
    position: absolute;

    z-index: 4;
}

.scene-icon {
    width: 12%;

    right: 5%;

    top: 9px;
    position: absolute;

    z-index: 5;
}
.scene-brand {
    width: 25%;
    right: 4%;
    bottom: 5%;
}

.scene-floating {
    z-index: 6;
    position: absolute;
}
.scene-frank {
    width: 16%;
    left: 22%;
    top: 3%;
    position: absolute;
}
.scene-emily {
    width: 18%;
    right: 18%;
    bottom: 10%;
    position: absolute;

  }.scene-comments {
    width: 18%;
    right: 6%;
    bottom: 41%;
}
/* =================================
   THE PAYOFF
================================= */

.payoff {
    min-height: 120vh;

    position: relative;

    background: white;

    color: #10051f;

    display: grid;

    grid-template-columns: 25% 75%;

    padding: 70px 30px 100px;

    box-sizing: border-box;
}


/* ===============================
   LEFT LABEL
================================ */

.payoff-label {
    font-family: monospace;

    font-size: 19px;

    color: #5b16e8;

    letter-spacing: 1px;

}


/* ===============================
   RIGHT SIDE
================================ */

.payoff-main {
    width: 100%;

    padding-right: 20px;
    padding-left: 30px;

    box-sizing: border-box;
}


/* ===============================
   BIG HEADING
================================ */



.payoff-heading {
    width: 100%;
    margin: 0 auto;


    font-size: clamp(30px, 4vw, 45px);
    line-height: 1.08;

    letter-spacing: 2px;

    font-weight: 700;

    color: #5b16e8;
}

.payoff-heading span {
    display: inline-block;

    opacity: 0.15;
    filter: blur(10px);

    animation-name: payoffReveal;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;

    animation-timeline: view();
}


@keyframes payoffReveal {

    0% {
        opacity: 0.15;
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }

}

.payoff-heading span:nth-child(1) {
    animation-range: 0% 15%;
}

.payoff-heading span:nth-child(2) {
    animation-range: 3% 18%;
}

.payoff-heading span:nth-child(3) {
    animation-range: 6% 21%;
}

.payoff-heading span:nth-child(4) {
    animation-range: 9% 24%;
}

.payoff-heading span:nth-child(5) {
    animation-range: 12% 27%;
}

.payoff-heading span:nth-child(6) {
    animation-range: 15% 30%;
}

.payoff-heading span:nth-child(7) {
    animation-range: 18% 33%;
}

.payoff-heading span:nth-child(8) {
    animation-range: 21% 36%;
}

.payoff-heading span:nth-child(9) {
    animation-range: 24% 39%;
}

.payoff-heading span:nth-child(10) {
    animation-range: 27% 42%;
}

.payoff-heading span:nth-child(11) {
    animation-range: 30% 45%;
}

.payoff-heading span:nth-child(12) {
    animation-range: 33% 48%;
}

.payoff-heading span:nth-child(13) {
    animation-range: 36% 51%;
}

.payoff-heading span:nth-child(14) {
    animation-range: 39% 54%;
}

.payoff-heading span:nth-child(15) {
    animation-range: 42% 57%;
}

.payoff-heading span:nth-child(16) {
    animation-range: 45% 60%;
}

.payoff-heading span:nth-child(17) {
    animation-range: 48% 63%;
}

.payoff-heading span:nth-child(18) {
    animation-range: 51% 66%;
}

.payoff-heading span:nth-child(19) {
    animation-range: 54% 69%;
}

.payoff-heading span:nth-child(20) {
    animation-range: 57% 72%;
}

.payoff-heading span:nth-child(21) {
    animation-range: 60% 75%;
}

/* ===============================
   STATISTICS
================================ */

.payoff-stats {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 70px;

    margin-top: 100px;
}


.payoff-stat h3 {
    margin: 0;

    color: #5b16e8;

    font-size: clamp(50px, 5vw, 80px);

    line-height: 0.7;

    letter-spacing: 3px;

    font-weight: 700;
}


.payoff-stat p {
    margin-top: 25px;

    max-width: 280px;

    font-size: 17px;

    line-height: 1.45;

    color: #48434d;
}